@{
    ViewBag.Title = "Home Page";
}


<style>
    .body-content {
        background-image: url('/Content/img/bg.jpg')
    }
    h1, h3 {
        color: white;
    }
</style>


<div class="container intro-message">
    <h1 class="text-center">Морской бой</h1>
    <h3 class="text-center">Начать игру прямой сейчас?</h3>
    <hr class="intro-divider" />

</div>
